@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #8672ff;
  --accent-color-dark: #7565e6;
  --surface-color: #f8f9fa;
  --text-color: #2e2b41;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--surface-color);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}
